<h4>会員情報編集</h4>

<%= form_with model: @customer, url: edit_customers_path do |f| %>
<tr>
<td>氏名</td>
<td><%= f.text_field :last_name %></td>
<td><%= f.text_field :first_name %></td>
</tr>

<tr>
<div>フリガナ</td>
<td><%= f.text_field :last_name %></td>
<td><%= f.text_field :last_name %></td>
</tr>

<tr>
<td>郵便番号</td>
<td><%= f.text_field :postcode %></td>
</tr>

<tr>
<td>住所</td>
<td><%= f.text_field :address %></td>
</tr>

<tr>
<td>電話番号</td>
<td><%= f.text_field :phone_number %></td>
</tr>

<tr>
<td>メールアドレス</td>
<td><%= f.text_field :email %></td>
</tr>

<td><%= link_to "編集内容を保存", customers_infomation_edit_path(@customer_id), class: "btn btn-sm btn-success" %><td>
<td><%= link_to "退会する", class: "btn btn-sm btn-danger" %><td>
<!--保存するとマイページへ遷移・退会確認ページへ遷移-->

<% end %>