<main>
 <h4><%= @customer.full_name %>会員詳細</h4>

  <table>
    <tbody>
      <tr>
        <th>会員ID</th>
        <th><%= @customer.id %></th>
      </tr>
      <tr>
        <th>氏名</th>
        <th><%= @customer.last_name %></th>
        <th><%= @customer.first_name %></th>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th><%= @customer.last_kana_name %></th>
        <th><%= @customer.first_kana_name %></th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th><%= @customer.postcode %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= @customer.address %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= @customer.phone_number %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <th><%= @customer.is_deleted ? '退会' : '有効' %></th>
      </tr>
      <tr>
        <td><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></td>
        <td><%= link_to "注文履歴一覧に戻る", admin_items_path %></td>
      </tr>
    </tbody>
  </table>

</main>