<h2>新規会員登録</h2>

<%= form_with model: @customer, url: new_customer_registration_path do |f| %>
  <%#=render "public/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :last_name, "姓" %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :first_name, "名" %><br />
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_kana_name, "セイ" %><br />
      <%= f.text_field :last_kana_name %>
    </div>


    <div class="field">
      <%= f.label :first_kana_name, "メイ" %><br />
      <%= f.text_field :first_kana_name %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email%>
    </div>



    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password  %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

  <%= render "public/shared/links" %>
