<main>
  <h4>注文情報入力</h4>

  <%= form_with url: "/orders", method: :post do |f| %>
    <!-- 既存の住所選択用ラジオボタン -->
    <%= f.label :address_option, "登録済住所から選択" %>
    <%= f.radio_button :address_option, "registered" %>
    <br>

    <!-- 登録済住所を表示し、ラジオボタンで選択できるようにするセクション -->
    <% current_customer.shopping_addresses.each do |address| %>
      <%= form.label :selected_address, address.full_address %>
      <%= form.radio_button :selected_address_id, address.id %>
      <br>
    <% end %>

    <!-- 新しい住所入力用フォーム -->
    <%= form.label :address_option, "新しいお届け先" %>
    <%= form.radio_button :address_option, "new" %>
    <br>

    <!-- 新しい住所入力用フォームが表示される条件を指定 -->
    <%= form.fields_for :new_address, @new_address do |new_address_form| %>
      <%= new_address_form.label :postcode, "郵便番号" %>
      <%= new_address_form.text_field :postcode %>
      <br>

      <%= new_address_form.label :address, "住所" %>
      <%= new_address_form.text_area :address %>
      <br>

      <%= new_address_form.label :name, "宛名" %>
      <%= new_address_form.text_field :name %>
      <br>
    <% end %>

    <!-- その他のフォーム内容を追加 -->
  <% end %>
</main>